/* Reset de base */

* {
    margin: 0;
    box-sizing: border-box;
  }
  
  img {
    width: 100%;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  a {
    text-decoration: none;
  }

/* Tentatives de media queries*/

@media screen and (max-width: 768px) {
    body {
        background-color: gold;
    }
    h2 {
        display: none; /* Masquer tous les h2 */
    }
    .a {
        display: block; /* Afficher seulement h2 avec la classe "a" */
    }
}

@media screen and (min-width: 768px) {
    body {
        background-color: pink;
    }
    .a, .c, .d, .e{
        display: none;
    }
    h1, .b {
        display: block;
    }
}

/* From 1280px (laptop 13') : background : chocolate and only the h2 Laptop 13 inches should apppear. */

@media screen and (min-width: 1280px) {
    body {
        background-color: chocolate;
    }
    h1,  .a, .b, .d, .e{
        display: none;
    }
    h1, .c {
        display: block;
    }
}


/* From 1440px (laptop) : background : cadetblue and only the h2 Laptop should apppear. */

@media screen and (min-width: 1440px) {
    body {
        background-color: cadetblue;
    }
    h1,  .a, .b, .c, .e{
        display: none;
    }
    h1, .d {
        display: block;
    }
}


/* From 1920px (desktop) : background : cornflowerblue and only the h2 Desktop should apppear. */

@media screen and (min-width: 1920px) {
    body {
        background-color: cornflowerblue;
    }
    h1,  .a, .b, .c, .d{
        display: none;
    }
    h1, .e {
        display: block;
    }
}
